.app {
  width: 100vw;
  height: 100vh;
  background-color: var(--one);
  position: relative;
}

header {
  /* background-image: var(--header-bg); */
  height: 45%;
  font-size: 40px;
  letter-spacing: 20px;
  display: flex;
  justify-content: center;
}

header > p {
  width: 50%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > p > span {
  color: var(--header-font);
}
